/* GENERAL */

/* Font importation */

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
  font-family: 'Kamryn';
  src: url('../fonts/Kamryn\ 3D\ Italic\ D.otf') format('opentype');
}

/* Material Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* CSS normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width: 100dvw;
  height: 100dvh;
}

@media (max-width: 768px) and (orientation: landscape) {
  body {
    height: 100vh;
  }
}

button {
  cursor: pointer;
}

/* Variables + responsive fonts*/ 

:root {
  --ff-general: 'Pixelify Sans', sans-serif;
  --bg-frame: linear-gradient(rgb(207, 0, 0), rgb(156, 0, 0));
  --color-gradient-text: linear-gradient(
    rgb(204, 204, 204), rgb(170, 170, 170), rgb(136, 136, 136)
  );
  --color-light: rgb(186, 186, 186);
  --color-dark: rgb(51, 51, 51);
  --fs-h1: 4vmax;
  --fs-p: 1.75vmax;
  --ff-logo: Kamryn, sans-serif;
  --ff-logo-text: sans-serif;

  --fs-canvas-title: 4vmin;
  --fs-canvas-text: 2.5vmin;
  --border-canvas-button: 0.4vmin dotted var(--color-dark);
  --border-canvas-button-hover: 0.4vmin dashed var(--color-dark);
  --bg-canvas: rgb(192, 192, 192);
  --border-canvas: 0.5vmin solid rgb(120, 0, 0);
  --box-shadow-canvas:
      inset 0 0.3vmin 0.3vmin rgba(0, 0, 0, 0.35),
      inset 0 0.6vmin 0.6vmin rgba(0, 0, 0, 0.5),
      inset 0 1.2vmin 2.4vmin rgba(0, 0, 0, 0.35);

  --border-grid-lines: 0.25vmin solid var(--color-dark);
  
  --border-button: 0.15vmin solid rgb(120, 0, 0);
  --bg-button: linear-gradient(
    rgb(204, 204, 204), rgb(170, 170, 170), rgb(136, 136, 136)
  );
  --box-shadow-button:
      inset 0 0.45vmin 0.15vmin rgba(0, 0, 0, 0.35),
      0 0.3vmin 0.3vmin rgba(0, 0, 0, 0.5),
      0 0.9vmin 0.9vmin rgba(0, 0, 0, 0.35);
  --box-shadow-button-active:
      inset 0 0.3vmin 0.3vmin rgba(0, 0, 0, 0.35),
      inset 0 0.75vmin 0.75vmin rgba(0, 0, 0, 0.5),
      inset 0 2.25vmin 4.5vmin rgba(0, 0, 0, 0.35);
  --text-shadow-button-active:
      0 0 0.75vmin #ffffcc,
      0 0 1.2vmin #fffccc;
  --text-color-button-active: rgb(255, 255, 255);
  
  --color-button-icon: rgb(34, 34, 34);
  --fs-icon: 3vmin;

  --border-slider-thumb: 0.45vmin solid rgb(102, 102, 102);
  --box-shadow-slider-thumb: 
      0.3vmin 0.3vmin 0.3vmin rgb(0, 0, 0), 0 0 0.3vmin rgb(13, 13, 13);
  
  --box-shadow-slider-track:
      inset 0.3vmin 0.3vmin 0.3vmin rgb(34, 34, 34), 
      inset 0 0 0.3vmin rgb(13, 13, 13);
  --bg-slider-track: rgb(170, 170, 170);
  --border-slider-track: 0.4vmin solid rgb(100, 0, 0);

  --border-tooltip: 0.33vmin solid var(--color-light);
}

@media (max-aspect-ratio: 799/1000) {
  :root {
    --fs-h1: 6vmin;
    --fs-p: 2.75vmin;
  }
}

@media (min-aspect-ratio: 8/10) and (max-aspect-ratio: 14/10) {
  :root {
    --fs-h1: 4vmax;
    --fs-p: 2vmax;
  };
}

/* LAYOUT */

/* Frame */

#frame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-aspect-ratio: 799/1000){
  #frame {
    flex-direction: row;
  }
}

/* Aux-area */

.aux-area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */

main {
  flex: 0 0 75vmin;
  display: flex;
  justify-content: center;
}

@media (max-aspect-ratio: 799/1000) {
  main {
    flex-direction: column;
  }
}

/* Canvas */

#canvas {
  flex: 0 0 75vmin;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-message {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
}

#welcome-message p {
  margin-bottom: auto;
}

#content-wrapper {
  width: 97%;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
  transition: opacity 0.4s ease;
}

#content-wrapper div {
  aspect-ratio: 1/1;
}

/* Main side areas */

#controls-side-a,
#controls-side-b {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
}

@media (max-aspect-ratio: 799/1000) {
  #controls-side-a,
  #controls-side-b {
    padding: 4% 1%;
    flex-direction: row-reverse;
  }
}

/* Button containers */

.rectangled-ui {
  flex: 1;
  display: flex;
  gap: 3vmin;
}

#controls-side-a {
  align-items: flex-start;
}

#controls-side-b {
  align-items: flex-end;
}

#general-controls {
  align-items: flex-start;
}

#slider-logo-container {
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}

#color-controls {
  align-items: flex-start;
  justify-content: flex-end;
}

#marker-controls {
  justify-content: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  max-width: 37.5vmin;
}

.squared-ui,
#zoom-controls {
  display: none;
}

@media (max-aspect-ratio: 799/1000) {
  .rectangled-ui {
    max-width: 50%;
  }

  #general-controls {
    justify-content: flex-end;
  }

  #slider-logo-container {
    padding-bottom: 2%;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
  }

  #color-controls {
    align-items: flex-end;
  }

  #marker-controls {
    justify-content: flex-start;
  }
}

/* Squared-ui */

@media (min-aspect-ratio: 8/10) and (max-aspect-ratio: 14/10) {
  .rectangled-ui {
    display: none;
  }

  .squared-ui,
  #zoom-controls {
    display: flex;
  }

  #controls-side-a,
  #controls-side-b {
    align-items: center;
  }
}

.logo.squared-ui {
  width: 55vmin;
  justify-content: space-between;
  align-items: center;
}

.slider-container.squared-ui {
  width: 45vmin;
}


.buttons-container.squared-ui {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.squared-ui label {
  height: 8vmin;
}

/* AESTHETICS */

/* Frame */

#frame {
  background: var(--bg-frame);
}

/* Canvas */

#canvas {
  background: var(--bg-canvas);
  border-radius: 2%;
  box-shadow: var(--box-shadow-canvas);
  border: var(--border-canvas);
  color: var(--color-dark);
}

#welcome-message {
  font-family: var(--ff-general);
  text-align: center;
  user-select: none;
  transition: opacity 0.4s ease;
}

#welcome-message h2 {
  font-size: var(--fs-canvas-title);
  font-weight: 600;
}

#welcome-message p {
  font-size: var(--fs-canvas-text);
}

#welcome-message button {
  padding: 1.5vmin;
  background: transparent;
  color: var(--color-dark);
  font-family: var(--ff-general);
  font-size: var(--fs-canvas-text);
  border: var(--border-canvas-button);
  border-radius: 7%;
}

#welcome-message button:hover {
  border: var(--border-canvas-button-hover);
}

#content-wrapper {
  transition: opacity 0.4s ease;
}

.hidden {
  opacity: 0;
}

.grid-lines-on {
  border: var(--border-grid-lines);
}

/* Buttons */

.buttons-container label,
.buttons-container button {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container label input {
  appearance: none;
}

.button-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--border-button);
  background: var(--bg-button);
  border-radius: 6%;
  box-shadow: var(--box-shadow-button);
  cursor: pointer;
}

.button-cover::before {
  content: '';
  position: absolute;
  inset: 0.75vmin 0.6vmin;
  border-top: 0.15vmin solid #eee;
  filter: blur(0.3vmin);
}

.button-cover:active,
.buttons-container label input:checked ~ .button-cover {
  box-shadow: var(--box-shadow-button-active);
}

.icon {
  position: relative;
  z-index: 10;
  font-size: var(--fs-icon);
  color: var(--color-button-icon);
  user-select: none;
}

.button-cover:active > .icon,
.buttons-container label input:checked ~ .icon {
  color: var(--text-color-button-active);
  text-shadow: var(--text-shadow-button-active);
  transition: all 0.2s ease;
}

/* General-controls */

#general-controls label {
  width: 10vmin;
}

/* Slider-logo */

.slider-container .icon,
.logo h1,
.logo p {
  background: var(--color-gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

.slider-container {
  max-width: 75%;
  width: 18vw;
  display: flex;
  gap: 3%;
}

.logo h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-logo);
}

.logo p {
  padding-left: 0.5em;
  font-size: var(--fs-p);
  font-style: italic;
  font-weight: 400;
  font-family: var(--ff-logo-text);
}

@media (max-aspect-ratio: 799/1000) {
  .slider-container {
    max-width: 100%;
    width: 37.5vmin;
  }
}

@media (min-aspect-ratio: 8/10) and (max-aspect-ratio: 14/10) {
  .logo p {
    padding: 0;
  } 
}

/* Slider specific */

input[type="range"] {
  appearance: none;
  -webkit-appearance: none; 
  width: 100%; 
  background: transparent; 
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -2.1vmin;
  appearance: none;
  -webkit-appearance: none; 
  border: var(--border-slider-thumb);
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background: var(--bg-button);
  cursor: pointer;
  box-shadow: var(--box-shadow-slider-thumb); 
}

input[type=range]::-moz-range-thumb {
  appearance: none;
  border: var(--border-slider-thumb);
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background: var(--bg-button);
  cursor: pointer;
  box-shadow: var(--box-shadow-slider-thumb); 
}

input[type=range]::-ms-thumb {
  appearance: none;
  border: var(--border-slider-thumb);
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background: var(--bg-button);
  cursor: pointer;
  box-shadow: var(--box-shadow-slider-thumb); 
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.6vmin;
  cursor: pointer;
  box-shadow: var(--box-shadow-slider-track);
  background: var(--bg-slider-track);
  border-radius: 50px;
  border: var(--border-slider-track);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.6vmin;
  cursor: pointer;
  box-shadow: var(--box-shadow-slider-track);
  background: var(--bg-slider-track);
  border-radius: 50px;
  border: var(--border-slider-track);
}


input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
  height: 1.6vmin;
  cursor: pointer;
  box-shadow: var(--box-shadow-slider-track);
  background: var(--bg-slider-track);
  border-radius: 50px;
  border: var(--border-slider-track);
}

/* Color controls */

#color-controls label {
  width: 10vmin;
}

input[type=color] + .icon {
  position: absolute;
}

.marker-color + .icon {
  color: var(--color-light);
}

input[type=color i] {
  position: relative;
  border-radius: 6%;
  inline-size: 10vmin;
  block-size: 10vmin;
  background: var(--bg-button);
  border: var(--border-button);
  box-shadow: var(--box-shadow-button);
  padding: 0.9vmin;
  cursor: pointer;
}

input[type=color i]::-webkit-color-swatch-wrapper {
  padding: 0.15vmin;
}

input[type=color i]::-webkit-color-swatch {
  border-radius: 6%;
}

input[type=color i]::-moz-color-swatch {
  border-radius: 6%;
}

/* Marker controls */

#marker-controls label {
  width: 8vmin;
}

/* Squared-ui */

@media (min-aspect-ratio: 8/10) and (max-aspect-ratio: 14/10) {
  input[type=color i] {
    inline-size: 8vmin;
    block-size: 8vmin;
  }
}

/* Tooltips */

.tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 12.5vmin;
  height: fit-content;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: var(--border-tooltip); 
  padding: 1vmin 0;
  border-radius: 1vmin;

  text-align: center;
  font-family: var(--ff-general);
  font-weight: 400;
  font-size: 1.75vmin;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.4s; 
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-aspect-ratio: 799/1000) {
  .tooltip-container:hover .grid-toggler ~ .tooltip-text,
  .tooltip-container:hover .clear ~ .tooltip-text {
    visibility: visible;
    opacity: 1;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }
}





